<form id="contactForm" name="contact" method="POST" action="/success/" data-netlify-recaptcha="true" netlify-honeypot="catch-all" autocomplete="off" netlify>
    <p>
        <label>Your name: <br><input type="text" name="name"/></label>
    </p>
    <p>
        <label>Your email: <br><input type="email" name="email" required/></label>
    </p>
    <p class="hidden">
        <label>Don't fill this out if you're human: <input name="catch-all"/></label>
    </p>
    <p>
        <label>Message: <br><textarea name="message" required></textarea></label>
    </p>
    <p>
        <div data-netlify-recaptcha="true" class="captcha"></div>
    </p>
    <p>
        <button type="submit">Send</button>
    </p>
</form>