<footer>
    <div id="footer-badges">
        <a href="https://cyber.dabamos.de/88x31/index.html"><img class="badge" src="/assets/img/badges/88x31.gif" alt="88x31 badge"/></a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer"><img class="badge" src="/assets/img/badges/vcss-blue.gif" alt="Valid CSS!"/></a>
        <img class="badge" src="/assets/img/badges/made_with_windows.gif" alt="Made with Windows"/>
        <img class="badge" src="/assets/img/badges/javascriptfree.gif" alt="JavaScript-free Page"/>
        <a href="https://git.attkzach.gay"><img class="badge" src="/assets/img/badges/gitea.gif" alt="Gitea"/></a>
        <img class="badge" src="/assets/img/badges/ipv6.gif" alt="IPv6-enabled"/>
        <img class="badge" src="/assets/img/badges/powered-by-debian.gif" alt="Powered by Debian"/>
    </div>
    <hr>
    <p id="footer-text">Last updated: {{ site.time | date: '%Y-%m-%d %l:%M %p (UTC%z)' }}&nbsp;&middot;&nbsp;{% if include.no-style != true %}<a href="/nostyle/">Disable CSS</a>{% else %}<a href="/">Enable CSS</a>{% endif %}</p>
</footer>