<meta name="title" content="{{ page.title }}">
<meta name="description" content="{{ page.summary }}">
{% if page.index != false or page.index == blank %}
<meta name="robots" content="index, follow">
{% endif %}
<meta property="og:description" content="{{ page.summary }}">
<meta property="twitter:description" content="{{ page.summary }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
{% if site.url contains "http" %}
<meta property="og:site_name" content="{{ site.url | remove: 'http://'}}">
{% elsif site.url contains "https" %}
<meta property="og:site_name" content="{{ site.url | remove: 'https://'}}">
{% else %}
<meta property="og:site_name" content="{{ site.url }}">
{% endif %}
<meta property="og:locale" content="en_US">
<meta property="og:title" content="{{ page.title }}">