---
---
@import url("/assets/css/font/inter/stylesheet.css"); /*Inter*/
@import url("/assets/css/font/dm-mono/stylesheet.css"); /*DM Mono*/

html {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background: #FFF url("/assets/img/page-bg.webp") bottom left no-repeat fixed;
    color: #000;
}

body {
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 10px;
    width: calc(100% - 80px);
    max-width: 1000px;
    text-shadow: 0 2px 0 #FFF;
    background: #FFFC;
    box-shadow: 0 0 50px 50px #FFFC;
}

h1, h2 {
    margin: 20px 0;
    line-height: 1em;
}

p {
    line-height: 1.5em;
    margin: 20px 0;
    text-align: justify;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #B23;
}

hr {
    border: 0;
    width: 100%;
    height: 1px;
    background: #DDD;
    border: 0;
    margin: 40px 0;
}

ul, ol {
    margin: 0;
    padding: 0 20px;
}

li { line-height: 1.5em }

pre, code { font-family: 'DM Mono', monospace }

pre {
    max-width: 100%;
    overflow: auto hidden;
}

code:not(pre>code) { word-break: break-all }

footer { text-align: center }

#footer-badges { font-size: 0 }

#footer-badges .badge { margin: 5px }

#footer-text {
    font-size: .8em;
    text-align: center;
    font-family: 'DM Mono', monospace;
}