@import url("__variables.css");

html {
    background: var(--clr_darkSlate_0) url("/assets/image/pageLogo.webp")
                no-repeat bottom right fixed;
    color: var(--clr_lightSlate_5);
    font-family: var(--fnt_sansSerif);
    font-size: 16px;
}

body {
    position: relative;
    display: grid;
    grid-template-columns: 301px 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    max-width: 100vw;
    min-height: 100vh;
    font-size: 1rem;
}

:focus {
    outline: 2px solid var(--clr_blueAccent_2);
    outline-offset: -4px;
}

::selection {
    background: var(--clr_blueAccent_0);
    color: var(--clr_lightSlate_5);
    text-decoration: none;
    text-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}

p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 0 0 2.4rem 0;
}

p:last-of-type { margin: 0 }

li {
    font-size: 1.2rem;
    line-height: 1.5em;
    color: var(--clr_lightSlate_2);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

a:hover,
a:focus { color: var(--clr_blueAccent_2) }

h3 {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    line-height: 1em;
    margin: 0 0 2rem 0;
}

h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2rem;
    bottom: 0;
    z-index: -1;
    background: var(--clr_darkSlate_1);
    animation: .5s ease-in-out h3_after 1 forwards;
}

@keyframes h3_after {
    from { width: 0% }
    to { width: 100% }
}

h4 {
    position: relative;
    display: block;
    font-size: 2rem;
    line-height: 1em;
    margin: 0 0 2rem 0;
    color: var(--clr_lightSlate_1);
}

code { font-family: var(--fnt_monoSpace) }

pre {
    position: relative;
    display: block;
    margin: 2.2rem 0;
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .25);
    backdrop-filter: blur(10px);
    overflow: auto hidden;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 24px rgba(0, 0, 0, .25);
}

button {
    font-family: var(--fnt_sansSerif);
    font-size: 1rem;
    padding: 8px 24px;
    background: var(--clr_darkSlate_2);
    color: var(--clr_lightSlate_5);
    border: 0;
    border-radius: 2.4rem;
    cursor: pointer;
    transition: .2s ease-in-out background;
}

button:hover {
    background: var(--clr_blueAccent_0);
}

.notification {
    position: fixed;
    display: block;
    top: 80px;
    left: 50%;
    transform: translateX(calc(-50% + 150px));
    z-index: 100;
    padding: 10px 30px;
    max-width: 440px;
    background: var(--clr_darkSlate_1);
    border: 1px solid var(--clr_darkSlate_2);
    border-radius: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .25);
    text-align: center;
    user-select: none;
    pointer-events: none;
    animation: .5s ease-in-out notification forwards;
    transition: .5s ease-in-out opacity;
}

.notification.cleared { animation: .5s ease-in-out notification-clear forwards }

@keyframes notification {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes notification-clear {
    from { opacity: 1 }
    to { opacity: 0 }
}

/*sidebar*/
.navSidebar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content 1fr min-content;
    justify-content: space-between;
    overflow: hidden auto;
    width: 300px;
    height: calc(100vh - 60px);
    margin: 60px 0 0 0;
    border-right: 1px solid var(--clr_darkSlate_2);
    background: rgba(0, 0, 0, .15);
    z-index: 3;
}

.navSidebar .branding {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    grid-template-columns: 43px min-content;
    gap: 10px;
    width: 260px;
    padding: 0 20px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--clr_darkSlate_1);
    border-right: 1px solid var(--clr_darkSlate_2);
    background: var(--clr_darkSlate_0);
    cursor: pointer;
    z-index: 4;
}

.navSidebar .branding__logo {
    position: relative;
    display: block;
    height: 40px;
    width: 43px;
    background: url("/assets/image/brand/attkzach_logo_color.svg")
                no-repeat center/43px 40px;
    user-select: none;
    pointer-events: none;
}

.navSidebar .branding__title {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--fnt_monoSpace);
    user-select: none;
    pointer-events: none;
}

.sidebarNavigation {
    position: relative;
    display: block;
    padding: 20px;
    border-bottom: 1px solid var(--clr_darkSlate_1);
}

.sidebarNavigation--misc {
    position: relative;
    display: block;
    padding: 10px 20px;
    text-align: center;
}

.sidebarNavigation .navItem {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
    font-family: var(--fnt_monoSpace);
    font-size: 1.2rem;
    text-align: center;
    padding: 8px 24px;
    background: var(--clr_darkSlate_1);
    color: var(--clr_lightSlate_5);
    border: 0;
    border-radius: 2.4rem;
    cursor: pointer;
    transition: .2s ease-in-out background;
    margin: 0 0 20px 0;
    width: calc(100% - 48px);
    font-weight: 400;
}

.sidebarNavigation .navItem--external {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
    font-family: var(--fnt_monoSpace);
    font-size: 1.2rem;
    text-align: center;
    padding: 8px 24px;
    background: var(--clr_darkSlate_1);
    color: var(--clr_lightSlate_5);
    border: 0;
    border-radius: 2.4rem;
    cursor: pointer;
    transition: .2s ease-in-out background;
    margin: 0 0 20px 0;
    width: calc(100% - 48px);
    font-weight: 400;
}

.sidebarNavigation--misc .navItem--misc {
    position: relative;
    display: inline-block;
    font-family: var(--fnt_monoSpace);
    font-size: 1rem;
    text-align: center;
    color: var(--clr_lightSlate_1);
    font-weight: 400;
    margin: 0 10px;
}

.sidebarNavigation .navItem:hover,
.sidebarNavigation .navItem--external:hover { background: var(--clr_blueAccent_0) }

.sidebarNavigation .navItem:last-of-type,
.sidebarNavigation .navItem--external:last-of-type { margin: 0 }

.sidebarNavigation .navItem icon {
    font-size: 1.4rem;
    color: white;
    opacity: .75;
    width: 22.4px;
    height: 22.4px;
}

.sidebarNavigation .navItem__icon {
    position: relative;
    display: block;
    width: 22.4px;
    height: 22.4px;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    opacity: .75;
}

.sidebarNavigation .navItem__icon.mastodon { background-image: url("/assets/image/icons/mastodon.svg") }
.sidebarNavigation .navItem__icon.twitch { background-image: url("/assets/image/icons/twitch.svg") }
.sidebarNavigation .navItem__icon.github { background-image: url("/assets/image/icons/github.svg") }
.sidebarNavigation .navItem__icon.youtube { background-image: url("/assets/image/icons/youtube.svg") }

/*main page content*/
.pageContent {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 60px);
    margin: 60px 0 0 0;
    overflow: hidden auto;
    z-index: 1;
    background: url("/assets/image/pageGrid.webp")
                repeat-x center top;
}

.pageContent__title {
    position: fixed;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr auto;
    align-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100% - 341px);
    padding: 0 20px;
    background: var(--clr_darkSlate_0);
    border-bottom: 1px solid var(--clr_darkSlate_1);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .25);
    z-index: 2;
}

.pageContent__title__text {
    position: relative;
    font-family: var(--fnt_monoSpace);
    font-weight: 400;
    color: var(--clr_lightSlate_0);
}

.pageContent__title__btn {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
    margin: 0 10px 0 0;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.1);
}

.pageContent__text {
    position: relative;
    display: block;
    margin: 40px auto;
    padding: 0 80px;
    width: calc(100% - 160px);
    min-height: calc(100vh - 140px);
    max-width: calc(1200px - 160px);
    z-index: 1;
}