@import url("font/roboto/stylesheet.css");

:root { 
    --blue: rgb(15, 130, 205);
    --gray: rgb(80, 80, 80);
    --lightgray: rgb(200, 200, 200);
    --offwhite: rgb(240, 240, 240);
    --offblack: rgb(20, 20, 20);
}

*:focus { outline: 2px solid var(--blue) }

::selection {
    background: var(--blue);
    color: var(--offwhite);
    text-decoration: none;
    text-shadow: 0 0 0 transparent;
}

html {
    background: var(--offwhite);
    color: var(--offblack);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    margin: 0 auto;
    padding: 0 0 0 20px;
    width: calc(100% - 20px);
    max-width: calc(1200px - 20px);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--gray);
    transition: color .15s ease-in-out;
}

a:hover { color: var(--blue) }

abbr { cursor: help }

p {
    font-size: 1rem;
    line-height: 2rem;
    margin: 0 0 1rem 0;
}

p:last-of-type { margin: 0 }

h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0 0 1rem 0;
    color: var(--blue);
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 0 1rem 0;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 0 1rem;
}

h4, h5, h6 {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0 0 1rem 0;
    font-weight: normal;
}

ul, ol {
    padding: 0 40px;
    margin: 1rem 0;
}

li { 
    line-height: 1.5rem;
    margin: 0 0 .5rem 0;
}

hr {
    position: relative;
    display: block;
    margin: 20px 0 20px -20px;
    width: calc(100% + 40px);
    height: 1px;
    background: linear-gradient(90deg, var(--lightgray), var(--offwhite));
    border: 0;
}

.siteSidebar, .siteContent {
    position: relative;
    display: block;
    min-height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    overflow: hidden auto;
    padding: 20px;
}

.siteSidebar {
    padding-left: 0;
    border-right: 1px solid var(--lightgray);
    text-align: right;
    z-index: 1;
    background: var(--offwhite);
}

.mainNavigation__link {
    display: block;
    margin: 0 0 10px 0;
    line-height: 1rem;
    font-size: 1rem;
}

.mainNavigation__link.link--currentPage { color: var(--blue) }

.mainNavigation__link.link--currentPage::before {
    content: "›";
    user-select: none;
    pointer-events: none;
    margin: 0 5px 0 0;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 0;
}

.siteContent {
    padding-right: 0;
    text-align: left;
    z-index: 0;
    background: var(--offwhite);
}

.siteContent__container { padding-right: 20px }

.siteFooter { margin: 20px 0 0 0 }

.siteFooter p {
    margin: 0;
    font-size: .75rem;
    line-height: 1rem;
    color: var(--gray);
    text-align: right;
}

.sitePortrait {
    height: 6.75rem;
    display: block;
    float: left;
    margin: .7rem 1rem 0 -20px;
    user-select: none;
    pointer-events: none;
    outline: 1px solid var(--lightgray);
}

@media only screen and (max-width: 800px) {
    body { grid-template-columns: 125px 1fr }

    .siteSidebar__siteTitle { display: none }
}

@media screen and (prefers-color-scheme: dark) {
    :root { 
        --blue: rgb(55, 170, 255);
        --gray: rgb(175, 175, 175);
        --lightgray: rgb(55, 55, 55);
        --offwhite: rgb(20, 20, 20);
        --offblack: rgb(240, 240, 240);
    }
}

@media screen and (prefers-contrast: more) {
    :root { 
        --blue: rgb(55, 170, 255);
        --gray: rgb(128, 128, 128);
        --lightgray: rgb(128, 128, 128);
        --offwhite: rgb(0, 0, 0);
        --offblack: rgb(255, 255, 255);
    }

    a { text-decoration: underline }
}

@media screen and (forced-colors: active) {
    :root { 
        --blue: LinkText;
        --gray: ButtonBorder;
        --lightgray: ButtonBorder;
        --offwhite: Canvas;
        --offblack: CanvasText;
    }
}

@media print {
    :root { 
        --blue: rgb(0, 128, 255);
        --gray: rgb(0, 0, 0);
        --lightgray: rgb(0, 0, 0);
        --offwhite: rgb(255, 255, 255);
        --offblack: rgb(0, 0, 0);
    }

    body { 
        display: block;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    .siteSidebar, .siteContent {
        position: relative;
        display: block;
        min-height: auto;
        max-height: auto;
        overflow: hidden auto;
        padding: 0;
        text-align: left;
        border: 0;
    }

    .siteContent__container { padding: 0 }

    .siteSidebar__mainNavigation { display: none }

    hr { 
        background: var(--lightgray);
        margin: 20px 0 0 0;
        width: 100%;
    }

    .sitePortrait { margin: .7rem 1rem 0 0 }
}