---
---
@import url("/assets/css/font/inter/stylesheet.css"); /*Inter*/
@import url("/assets/css/font/dm-mono/stylesheet.css"); /*DM Mono*/

::selection {
    background: #3b62ff;
    color: #FFF;
    text-shadow: 0 0 0 transparent;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background: #0d0e12 url("/assets/img/page-bg.svg") center/1200px no-repeat fixed;
    color: #FFF;
}

body {
    margin: 0 auto;
    padding: 40px 20px;
    width: calc(100% - 80px);
    max-width: 700px;
}

#noscript {
    text-align: center;
    margin: 0 0 40px 0;
    line-height: 1em;
    padding: 15px 20px;
    background: #AE0;
    color: #000;
    border-radius: 8px;
    text-shadow: 0 0 0 transparent;
}

sup { font-size: .8em; }

abbr { cursor: help; }

h1, h2 {
    margin: 20px 0;
    line-height: 1em;
}

p {
    line-height: 2em;
    margin: 20px 0;
    text-align: justify;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #3b62ff;
}

a:hover { color: #89a1ff; }

a[target="_blank"]::after {
    content: "↗";
    vertical-align: super;
    opacity: .75;
}

hr {
    border: 0;
    width: 100%;
    height: 2px;
    background: #2f3138;
    border: 0;
    border-radius: 1px;
    margin: 40px 0;
}

ul, ol {
    margin: 0;
    padding: 0 20px;
}

li { line-height: 2em }

pre, code { font-family: 'DM Mono', monospace }

pre {
    max-width: 100%;
    overflow: auto hidden;
}

code:not(pre>code) { word-break: break-all }

footer { text-align: center }

#footer-badges { font-size: 0 }

#footer-badges .badge { margin: 5px }

#footer-text {
    font-size: .8em;
    text-align: center;
    font-family: 'DM Mono', monospace;
}

.project-tag {
    font-size: .8em;
    line-height: 1em;
    padding: 4px 8px;
    border-radius: 4px;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    cursor: help;
}

.project-tag.archived {
    border: 1px solid #464954;
    background: #191a1e;
    color: #FFF;
}

.project-tag.wip {
    border: 1px solid #816c41;
    background: #4a3a1c;
    color: #FFF;
}