<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/favicon.png" type="image/png">
        <link rel="stylesheet" href="/assets/css/project/housetohome.css">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <main>
            <div id="game_logo"><img src="/assets/img/project/housetohome/HouseToHome_Logo.webp" alt="House To Home logo"/></div>
            {{content}}
        </main>
    </body>
</html>