<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site.description }}">
        <link rel="icon" href="/favicon.png" type="image/png">
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
        <title>{{ site.title }}</title>
    </head>
    <body>
        <main>
            <h1 id="page-title">{{ page.title }}</h1>
            {{ content }}
        </main>
        <hr>
        <footer>
            <a href="https://cyber.dabamos.de/88x31/index.html"><img src="/assets/img/badges/88x31.gif" alt="88x31 badge"/></a>
            <a href="https://jigsaw.w3.org/css-validator/check/referer"><img src="/assets/img/badges/vcss-blue.gif" alt="Valid CSS!"/></a>
            <img src="/assets/img/badges/made_with_windows.gif" alt="Made with Windows"/>
            <img src="/assets/img/badges/javascriptfree.gif" alt="JavaScript-free Page"/>
            <a href="https://git.zachfetters.com"><img src="/assets/img/badges/gitea.gif" alt="Gitea"/></a>
            <img src="/assets/img/badges/ipv6.gif" alt="IPv6-enabled"/>
            <img src="/assets/img/badges/powered-by-debian.gif" alt="Powered by Debian"/>
        </footer>
    </body>
</html>