<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/favicon.png" type="image/png">
        <link rel="preload" href="/assets/css/main.css" as="style" type="text/css">
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css">

        <title>{{ page.title }} :: {{ site.title }}</title>
    </head>
    <body>
        <aside class="siteSidebar">
            <h1 class="siteSidebar__siteTitle">{{ site.title }}</h1>
            <nav class="sideSidebar__mainNavigation">
                {% assign nav-links = site.pages | where: "top-level", "true" | sort: "order" %}
                {% for link in nav-links %}
                {% if link.top-level == true %}
                {% if link.url == page.url %}
                <a href="{{ link.url }}" class="mainNavigation__link link--currentPage">{{ link.title | upcase }}</a>
                {% else %}
                <a href="{{ link.url }}" class="mainNavigation__link">{{ link.title | upcase }}</a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </nav>
        </aside>
        <main class="siteContent">
            <div class="siteContent__container">
                <h2>{{ page.title }}</h2>
                {{ content }}
                <hr>
                <footer class="siteFooter">
                    <p>&copy; {{ site.time | date: "%Y" }} Zachary Fetters, unless otherwise noted.</p>
                </footer>
            </div>
        </main>
    </body>
</html>