<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site.description }}">
        <link rel="icon" href="/favicon.png" type="image/png">
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
        <title>{{ site.title }}</title>
    </head>
    <body>
        <main>
            <h1 id="page-title">{{ page.title }}</h1>
            {{ content }}
        </main>
        <hr>
        <footer>
            <div id="footer-badges">
                <a href="https://cyber.dabamos.de/88x31/index.html"><img class="badge" src="/assets/img/badges/88x31.gif" alt="88x31 badge"/></a>
                <a href="https://jigsaw.w3.org/css-validator/check/referer"><img class="badge" src="/assets/img/badges/vcss-blue.gif" alt="Valid CSS!"/></a>
                <img class="badge" src="/assets/img/badges/made_with_windows.gif" alt="Made with Windows"/>
                <img class="badge" src="/assets/img/badges/javascriptfree.gif" alt="JavaScript-free Page"/>
                <a href="https://git.zachfetters.com"><img class="badge" src="/assets/img/badges/gitea.gif" alt="Gitea"/></a>
                <img class="badge" src="/assets/img/badges/ipv6.gif" alt="IPv6-enabled"/>
                <img class="badge" src="/assets/img/badges/powered-by-debian.gif" alt="Powered by Debian"/>
            </div>
            <hr>
            <p id="footer-text">Last updated: {{ site.time | date: '%Y-%m-%d %l:%M %p (UTC%z)' }} &middot; <a href="http://olpx6utj7dnpkjwz724mlnpih5vgulml5cvgb6cxn5yd6aerql7lpjqd.onion/">Tor site</a></p>
        </footer>
    </body>
</html>