<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site.description }}">
        <link rel="icon" href="/favicon.png" type="image/png">
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
        <title>{{ page.title }}: {{ site.title }}</title>
    </head>
    <body>
        <main>
            {% if page.page-title %}
            <h1 id="page-title">{{ page.page-title }}</h1>
            {% else %}
            <h1 id="page-title">{{ page.title }}</h1>
            {% endif %}
            {{ content }}
        </main>
        <hr>
        <footer>
            <p id="footer-text">Last updated: {{ site.time | date: '%Y-%m-%d %l:%M %p (UTC%z)' }}&nbsp;&middot;&nbsp;<a href="https://status.zachfetters.com/status/home-server" target="_blank">Server Status</a></p>
        </footer>
    </body>
</html>