---
layout: default
---
<section id="home_heroContainer">
    <h1 id="hero_title">Hello, my name is <span>Zachary</span>!</h1>
</section>
<section>
    <a name="about"></a>
    <div class="home_sectionContent">
        <h2>about me</h2>
        <p>Hello, my name is Zachary and I am a graphic designer and web developer from the United States. My design style can be considered abstract as I like to experiment with shapes, color, and texture. When it comes to web design, I prefer simplicity and accessibility. Websites should serve a functional purpose and design shouldn't trump that purpose.</p>
    </div>
</section>
<section>
    <a name="graphic-design"></a>
    <div class="home_sectionContent">
        <h2>graphic design</h2>
        <p>I've been making graphic art for close to a decade. In this time, I've evolved my style to include complex texturing, a large gamut of colors, and an abstract composition. I use Adobe Photoshop exclusively for my art. However, I am skilled at using Illustrator, After Effects, and Blender.</p>
        <p><a href="https://www.behance.net/fetters" target="_blank">View my Behance</a></p>
    </div>
</section>
<section>
    <a name="web-dev"></a>
    <div class="home_sectionContent">
        <h2>web development</h2>
    </div>
</section>
<section>
    <a name="contact"></a>
    <div class="home_sectionContent">
        <h2>contact me</h2>
    </div>
</section>