---
layout: compress
---
<!DOCTYPE html>
<html lang="en-US">
    {% include head.html no-style=true %}
    <body>
        <main>
            <noscript><p id="noscript">JavaScript is disabled! Luckily for you, this site doesn't need it!</p></noscript>
            {% if page.page-title %}
            <h1 id="page-title">{{ page.page-title }}</h1>
            {% else %}
            <h1 id="page-title">{{ page.title }}</h1>
            {% endif %}
            {{ content | slice: 78, 999999 }}
        </main>
        <hr>
        {% include footer.html no-style=true %}
    </body>
</html>